---
import Section from "../reusableComponents/section.astro";
import MainSectionHeading from "../reusableComponents/MainSectionHeading.astro";
import ProjectGrid from "../reusableSections/projectGrid.astro";
---

<Section bgColorClassName="bg-white">
   <MainSectionHeading
      name="Our Projects"
      sub="Consequatur libero assumenda est voluptatem est quidem illum et officia imilique qui vel architecto accusamus fugit aut qui distinctio"
   />
   <ProjectGrid />
</Section>
