---
import Button from "./button.astro";
---

<header id="header" class="py-8 fixed w-full z-10">
   <div class="my-container">
      <div class="flex justify-between align-middle text-white">
         <a href="#">
            <h1 class="text-xl md:text-2xl font-bold uppercase">Brand Name</h1>
         </a>
         <nav
            class="hidden md:flex gap-x-8 h-fit my-auto text-white uppercase font-semibold text-sm"
         >
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/services">Services</a>
            <a href="/portfolio">Projects</a>
            <a href="/team">Blog</a>
            <a href="/contact">Contact</a>
         </nav>
         <svg
            id="menuBtn"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="white"
            class="md:hidden w-5 h-5 cursor-pointer"
         >
            <path
               fill-rule="evenodd"
               d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm7 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
               clip-rule="evenodd"></path>
         </svg>
         <!-- <Button className="bg-primary text-dark font-bold">Get started</Button> -->
      </div>
   </div>
</header>
