---
import Header from "../reusableSections/header.astro";
---

<Header />
<div
    class="min-h-[30vh] relative bg-[url('/assets/images/footer-bg.jpg')] bg-center bg-cover before:absolute before:inset-0 before:bg-black before:bg-opacity-50"
>
    <div class="my-container"></div>
</div>
