---
import SectionContainer from "../section.astro";
import Button from "../button.astro";
import SubSectionHeading from "../subSectionHeading.astro"
import InputField from "../inputField.astro";
---

<SectionContainer>
    <div class="block lg:flex lg:justify-between">
        <div class="w-full mb-10 xl:mb-0 xl:w-6/12 md:px-3">
            <div class="flex items-center h-full">
                <div class="py-3">
                    <SubSectionHeading>Minus hic non reiciendis ea possimus at quia.</SubSectionHeading>
                    <p class="text-[15px] mb-4">Rem id rerum. Debitis deserunt quidem delectus expedita ducimus dolor. Aut iusto ipsa. Eos ipsum nobis ipsa soluta itaque perspiciatis fuga ipsum perspiciatis. Eum amet fugiat totam nisi possimus ut delectus dicta.</p>
                    <p class="text-[15px] mb-4">Aliquam velit deserunt autem. Inventore et saepe. Tenetur suscipit eligendi labore culpa eos. Deserunt porro magni qui necessitatibus dolorem at animi cupiditate.</p>
                </div>
            </div>
        </div>
        <div class="w-full xl:w-5/12 md:px-3">
            <form class="email-form p-[30px] bg-white">
                <h3 class="font-sm mb-2 uppercase font-bold">Get A Quote</h3>
                <p class="font-sm mb-5">Vel nobis odio laboriosam et hic voluptatem. Inventore vitae totam. Rerum repellendus enim linead sero park flows.</p>
                <div class="flex flex-wrap">
                    <InputField
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Name"
                    />
                    <InputField
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Email"
                    />
                    <InputField
                        type="text"
                        name="phone"
                        id="phone"
                        placeholder="Phone"
                    />
                    <textarea
                        name="message"
                        id="message"
                        rows="6"
                        class="mb-4 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        placeholder="Your Message"
                        >
                    </textarea>
                    <Button type="submit" className="bg-primary text-dark font-bold mx-auto">Get Started</Button>
                </div>
            </form>
        </div>
    </div>
</SectionContainer>