---
import { Icon } from "astro-icon";
import Button from "../reusableComponents/button.astro";
---

<header id="header" class="py-8 absolute w-full z-10">
   <div class="my-container">
      <div class="flex justify-between items-center text-white">
         <a href="#">
            <h1 class="text-xl md:text-2xl font-bold uppercase">Brand Name</h1>
         </a>
         <nav
            class="hidden md:flex lg:gap-x-8 md:gap-x-5 h-fit my-auto text-white uppercase font-semibold text-sm"
         >
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/services">Services</a>
            <a href="/portfolio">Projects</a>
            <a href="/team">Blog</a>
            <a href="/contact">Contact</a>
         </nav>

         <Icon
            name="mdi:menu"
            class="text-white md:hidden w-5 h-5 cursor-pointer"
         />

         <!-- <Button className="bg-primary text-dark font-bold">Get started</Button> -->
      </div>
   </div>
</header>
