---
import Layout from "../layouts/Layout.astro";
import Header from "../components/reusableSections/header.astro";
import SubPageHero from "../components/reusableComponents/subPageHero.astro";
import AboutUs from "../components/about/aboutUs.astro";
import Footer from "../components/reusableSections/footer.astro";
import Stats from "../components/about/stats.astro";
import Teams from "../components/about/teams.astro";
import Testimonials from "../components/reusableSections/testimonials.astro";
import AltServices from "../components/reusableSections/altServices.astro";
---

<Layout title="About Us">
    <Header currentPage="about" />
    <main>
        <SubPageHero title="About" />
        <AboutUs />
        <AltServices isReverse={true} />
        <AltServices bgColorClassName="bg-white" />
        <Stats />
        <Teams />
        <Testimonials />
    </main>
    <Footer />
</Layout>
