---
import Layout from "../layouts/Layout.astro";
import Header from "../components/reusableSections/header.astro";
import SubPageHero from "../components/reusableComponents/subPageHero.astro";
import ContactArea from "../components/reusableSections/contactArea.astro";
import Footer from "../components/reusableSections/footer.astro";
---

<Layout title="Contact">
    <Header currentPage="contact" />
    <main>
        <SubPageHero title="Contact" />
        <ContactArea />
    </main>
    <Footer />
</Layout>
