---
import Layout from "../layouts/Layout.astro";
import Header from "../components/reusableSections/header.astro";
import MainHero from "../components/homepage/mainHero.astro";
import GetsStarted from "../components/homepage/getsStarted.astro";
import Constructions from "../components/homepage/constructions.astro";
import Services from "../components/homepage/services.astro";
import AltServices from "../components/reusableSections/altServices.astro";
import Features from "../components/homepage/features.astro";
import Projects from "../components/homepage/projects.astro";
import Testimonials from "../components/reusableSections/testimonials.astro";
---

<Layout title="Welcome to Astro.">
   <!-- <Header /> -->
   <main>
      <MainHero />
      <GetsStarted />
      <Constructions />
      <Services />
      <AltServices />
      <Features />
      <Projects />
      <Testimonials />
   </main>
</Layout>
