---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import MainHero from "../components/home/mainHero.astro";
import GetsStarted from "../components/home/getsStarted.astro";
import Constructions from "../components/home/constructions.astro";
import Services from "../components/home/services.astro";
---

<Layout title="Welcome to Astro.">
  <!-- <Header /> -->
  <main>
    <MainHero />
    <GetsStarted />
    <Constructions />
    <Services />
  </main>
</Layout>
