---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import MainHero from "../components/mainHero.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <MainHero />
  </main>
</Layout>
