---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import MainHero from "../components/sections/mainHero.astro";
import GetsStarted from "../components/sections/getsStarted.astro";
import Constructions from "../components/sections/constructions.astro";
import Services from "../components/sections/services.astro";
import AltServices from "../components/sections/reusableSections/altServices.astro";
---

<Layout title="Welcome to Astro.">
  <!-- <Header /> -->
  <main>
    <MainHero />
    <GetsStarted />
    <Constructions />
    <Services />
    <AltServices />
  </main>
</Layout>
