---
import Layout from "../layouts/Layout.astro";
import Header from "../components/reusableSections/header.astro";
import Section from "../components/reusableComponents/section.astro";
import SubPageHero from "../components/reusableComponents/subPageHero.astro";
import CardGrid from "../components/reusableSections/cardGrid.astro";
import AltServices from "../components/reusableSections/altServices.astro";
import Testimonials from "../components/reusableSections/testimonials.astro";
import Footer from "../components/reusableSections/footer.astro";
---

<Layout title="Services">
    <Header currentPage="services" />
    <main>
        <SubPageHero title="Services" />
        <Section bgColorClassName="bg-white">
            <CardGrid />
        </Section>
        <AltServices />
        <AltServices isReverse={true} bgColorClassName="bg-white" />
        <Testimonials />
    </main>
    <Footer />
</Layout>
