---
import { Icon } from "astro-icon";
import Section from "../section.astro";
import MainSectionHeading from "../MainSectionHeading.astro";

import servicesData from "../../dataContents/services";
---

<Section>
    <MainSectionHeading name="Services" sub="Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est eveniet deleniti fignissimos eos quam" />
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">
       {
        servicesData.map(data => {
            return (
            <div class="p-10 bg-white min-h-full">
                <div class="mb-7">
                    <Icon name={data.cardIcon} width="50px" class="text-primary" />
                </div>
                <h3 class="text-2xl mb-5 heading-dark w-fit font-bold after:block after:mt-2 after:w-full after:h-1 after:bg-gray-200">{data.cardTitle}</h3>
                <p class=" text-base">{data.cardContent}</p>
            </div>
            )
        })
       }
    </div>
</Section>