---
import Button from "../components/button.astro";
---

<header id="header" class="py-8 fixed w-full z-10">
  <div class="my-container">
    <div class="flex justify-between align-middle text-white">
      <a href="#">
        <h1 class="text-2xl font-bold uppercase">Brand Name</h1>
      </a>
      <nav class="flex gap-x-8 h-fit my-auto text-white uppercase font-semibold text-sm">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/portfolio">Projects</a>
        <a href="/team">Blog</a>
        <a href="/contact">Contact</a>
      </nav>
      <!-- <Button className="bg-primary text-dark font-bold">Get started</Button> -->
    </div>
  </div>
</header>
