---
import Button from "./button.astro";


const heroBackgroundImages: string[] = [
  "hero-carousel-1.jpg",
  "hero-carousel-2.jpg",
  "hero-carousel-3.jpg",
  "hero-carousel-4.jpg",
  "hero-carousel-5.jpg"
];


---

<!-- Slider main container -->
<div class="swiper w-full h-screen">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Carousel Slides -->
      {
        heroBackgroundImages.map(img => {
          return <div class={`swiper-slide relative bg-[url('/assets/images/hero-carousel/${img}')] after:absolute after:inset-0 after:bg-black after:bg-opacity-70`}></div>
        })
      }
    </div>

     <!--Hero Content -->
     <div class="my-container h-full absolute inset-0 z-[1]">
      <div class="flex justify-center items-center h-full text-center ">
        <div class="w-1/2 px-3">
          <h1 class="text-[56px] font-[650] text-white block mb-8">Welcome to
            <span class="block">UpConstruction</span>
          </h1>
          <p class="text-lg text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <Button className="bg-primary text-dark font-bold">Get Started</Button>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev ml-5 text-white bg-white bg-opacity-10 w-12 h-12 rounded-full"></div>
    <div class="swiper-button-next mr-5 text-white bg-white bg-opacity-10 w-12 h-12 rounded-full"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>

  <style>
    :root {
      --swiper-navigation-size: 1.5rem;
    }
  </style>

  <script is:inline type="module">
    const swiper = new Swiper('.swiper',{
    // Optional parameters
    direction: "horizontal",
    loop: true,

    autoplay: {
      delay: 4000,
      disableOnInteraction: false,
    },

    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      bulletActiveClass: "swiper-pagination-bullet-active bg-white",
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    scrollbar: {
      el: ".swiper-scrollbar",
      draggable: true,
      dragClass: "swiper-scrollbar-drag",
    },

    
  });
  </script>