---
const {name, sub } = Astro.props;
---

<div class="text-center mb-16">
    <h2 class="text-3xl font-bold relative heading-dark w-fit mx-auto before:w-12 before:h-0.5 before:bg-primary after:w-12 after:h-0.5 after:bg-primary flex items-center gap-x-5 mb-2">{name}</h2>
    <p class="md:max-w-[60%] mx-auto md:text-lg">{sub}</p>
</div>