---
export interface Props {
    title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/assets/css/tw-elements.min.css" />
        <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="min-h-screen flex flex-col justify-between">
        <slot />
        <script is:inline type="module">
            import { initTE, Ripple } from "./assets/js/tw-elements.es.min.js";
            initTE({ Ripple });
        </script>
    </body>
</html>
<style is:global>
    html {
        font-family: "Roboto", sans-serif;
        background-color: #f6f6f6;
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }

    /**
Custom classes
*/
    .my-container {
        @apply w-full sm:max-w-[600px] md:max-w-[720.9px] lg:max-w-[960px] xl:max-w-[1200px] 2xl:max-w-[1440px]  mx-auto px-4;
    }

    .heading-dark {
        @apply text-[#364d59];
    }

    .p-dark {
        @apply text-[#52565e];
    }

    .currentTab {
        @apply text-primary border-b-primary;
    }

    .beforeContent::before {
        content: "";
        background-color: black;
        position: absolute;
        inset: 0;
        opacity: 0.8;
    }
</style>
